@model ProductsCRUDMVC.Models.ShoppingCart

<h2 style="color: blue">Shopping Cart</h2>

@if (Model.Items.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.Quantity</td>
                    <td>
                        <form asp-controller="Product" asp-action="RemoveFromCart" method="post">
                            <input type="hidden" name="productId" value="@item.ProductId" />
                            <button type="submit" style="background-color: blue; border-radius: 10px;"><span style="color:white">Remove</span></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Your shopping cart is empty.</p>
}
